<div class="container col-xs-1">
    <h1 class="text-center text-dark jumbotron p-1 mt-5 mb-5">Team Manager</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Staff ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Clinical Hours</th>
                <th>Support Hours</th>
                <th>AwhiOra Hours</th>
                <th>FW CSW Hours</th>
                <th>FW Mentee Hours</th>
                <th>FW Group Hours</th>
                <th>Group Hours</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            {{#each allTestData}}
                <tr>
                    <td>{{this.staffid}}</td>
                    <td>{{this.firstname}}</td>
                    <td>{{this.lastname}}</td>
                    <td>{{this.clinicalhours}}</td>
                    <td>{{this.supporthours}}</td>
                    <td>{{this.awhiorahours}}</td>
                    <td>{{this.fwcsw}}</td>
                    <td>{{this.fwmentee}}</td>
                    <td>{{this.fwgroup}}</td>
                    <td>{{this.medication}}</td>
                    <td>{{this.comments}}</td>
                </tr>
            {{/each}}          
        </tbody>
    </table>
</div>

